.BasketItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 1s;
  }
  
  .BasketItem-code {
    padding: 20px 10px 20px 20px;
  }
  
  .BasketItem-title {
    width: 100%;
    padding: 20px 10px;
  }
  
  .BasketItem-actions {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    margin-right: 21px;
   
  }
  .BasketItem-price, .BasketItem-amount {
    white-space: nowrap;
    padding: 20px 0;
    margin-right: 24px;
  }
  
  .BasketItem-price {
    margin-right: 62px;
  }

